/* Map Fullscreen */
html, body {
    height:100%;
    margin:0;
    background-color: #dddddd;
}

#map {
    min-height: 100%;
	position:relative;

}

.main { /* page content, exclusive map itself */

}


/* *********************** NAV **************************** */
/* ----------------- TOP: Year Buttons ------------------------ */
.yearbutton {
	padding: 10px 20px 10px 20px;
	margin-right:10px;
	color:#fff;
	font-size:30px;
	background-color:#000;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#ccc;
}

#yearButtons { /* =DIV mit allen YearButtons */
	/*margin-left:auto;
	margin-right:auto;*/
	margin-top:35px;
	position:absolute;
    right:0;
    float:right;
	z-index:1;
    transition: right 0.5s ease-in-out 0s;

    /*Especially for slider*/
    padding-right:40px;
    width:50%;
}

/*Tooltip for slider labels*/
.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom:120%;
    margin-left: -2em;
}

.tooltip .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}


/* ------------------ LEFT: Sidebar / Chooseable Layers ----------- */ 
.yearlink {
    display:none;
}

#openSidebar {
	position:absolute;
	z-index:1;
	margin-top:11px;
	margin-left:50px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    /*display: block;*/
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.layerlink_active { /*layerlink_active should be global*/
    color:#fff !important; /* Sobald Layerlink angeklickt wurde bzw. der Layer gesetzt wurde, wird diese Klasse gesetzt. */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ---------------------------------- RIGHT SIDEBAR: 3D-Objects, Map details etc. -------------------------------------*/
#right_sidebar_listener { /* = Button o. Ä. zum Öffnen/Schließen des Menüs*/

}

#right_sidebar { /* DIV */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color:#fff;
}

#rs_list {
    list-style-type: none;
}

#right_sidebar .mainpoint { /* LI */
    font-size: 25px;
    padding: 8px 8px 8px 0;
    color: #818181;
    /*display: block;*/
    transition: 0.3s
}

#right_sidebar .subpoint { /* LI */
    font-size:20px;
    padding: 0px 8px 8px 32px;
}

#right_sidebar .hidden {
    display:none; /* Verstecke Unterpunkte standardmaessig */
}

#right_sidebar a {
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    /*display: block;*/
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
#right_sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#right_sidebar .object_link_active {
    color:#fff; /* Sobald Layerlink angeklickt wurde bzw. der Layer gesetzt wurde, wird diese Klasse gesetzt. */
}

/* Position and style the close button (top right corner) */
#right_sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}












